.wrp {
    width: 100%;
    padding: 4rem 0 10rem;

    .title {
        margin-bottom: 4rem;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        color: var(--gray-8);
    }

    .inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: stretch;
        grid-gap: 5rem 1rem;
        margin-bottom: 4rem;

        --card-width: 40rem;
        --image-wrp-diameter: 10rem;

        @media screen and (max-width: 1580px) {
            --card-width: 23vw;
        }

        @media screen and (max-width: 1350px) {
            grid-template-columns: 1fr 1fr 1fr;
            --card-width: 30vw;
        }

        @media screen and (max-width: 960px) {
            grid-template-columns: 1fr 1fr;
            --card-width: 44vw;
        }

        @media screen and (max-width: 640px) {
            grid-template-columns: 1fr;
            justify-items: center;
            align-items: center;
            grid-gap: 2rem;
            --card-width: 30rem;
        }
    }

    .card {
        width: var(--card-width);
        padding: 0;
    }
}
