.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: var(--gray-3);
    border-radius: 1rem;

    img {
        height: 4rem;
        width: 4rem;
    }
}
