.item {
    --avatar: 5rem;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.8rem;
    text-align: left;

    &:hover {
        background: var(--gray-2);
    }

    &.new {
        background: var(--secondary);
    }

    &.active {
        background: var(--secondary);
        border: 0.1rem solid var(--primary);
    }

    .inner {
        width: calc(100% - var(--avatar) - 0.5rem);
    }

    .title {
        font-size: 1.2rem;
        color: var(--black);
    }

    .text {
        font-size: 1.1rem;
        color: var(--gray-8);
    }
}

.empty {
    height: 100%;
    width: 100%;
    background: var(--gray-1);
    border-radius: var(--radius);
}
