.title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1;
}

.flex {
    display: flex;
    align-items: center;
    margin: 0 -0.6rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    padding: 0.8rem 3rem;
    border-radius: 0.8rem;
    background: var(--gray-3);
    font-size: 1.2rem;
    color: var(--black);

    &:hover {
        background: var(--gray-4);
    }
}

.active {
    color: var(--true-white);
    background: var(--primary);
    pointer-events: none;

    &:hover {
        color: var(--true-white);
        background: var(--primary);
    }
}
