.flex {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    padding: 0.8rem 3rem;
    border-radius: 0.8rem;
    background: var(--gray-3);
    font-size: 2rem;
    color: var(--black);

    &:nth-of-type(1) {
        font-size: 2.2rem;
    }
}

.active {
    color: var(--true-white);
    background: var(--primary);
}
