@mixin cutString {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin cutStringMultiLine($font-size, $line-height, $lines-to-show) {
    display: block;
    display: -webkit-box;
    font-size: $font-size;
    line-height: $line-height;
    height: calc($font-size * $line-height * $lines-to-show);
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin skeleton {
    @keyframes skeleton {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }

    background: linear-gradient(90deg, var(--gray-2), var(--gray-4), var(--gray-1));
    background-size: 400% 400%;
    animation: skeleton 2s ease infinite;
}
