@mixin cutString($line: 1) {
    overflow: hidden;

    @if $line != 1 {
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
    } @else {
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@mixin skeleton {
    @keyframes skeleton {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }

    background: linear-gradient(90deg, var(--gray-2), var(--gray-4), var(--gray-1));
    background-size: 400% 400%;
    animation: skeleton 2s ease infinite;
}
