.li {
    display: block;
    width: 100%;

    &:nth-of-type(1) .btn {
        border-top: none;
    }

    .btn {
        display: block;
        width: 100%;
        padding: 1.5rem;
        border-top: 0.1rem solid var(--gray-3);
        font-size: 1.3rem;

        &:hover {
            background: var(--gray-1);
        }
    }

    .delete {
        color: var(--error);
    }
}
