.root {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    max-width: 40rem;
    margin: 0 auto 3rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.text {
    max-width: 30rem;
    margin: 0 auto 2rem;
    font-size: 1.4rem;
    text-align: center;
}

.img {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background: var(--secondary);
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        background: var(--primary);
        box-shadow: 0 0 0 12rem var(--secondary);
    }

    img {
        height: 10rem;
        width: 10rem;
    }
}

.file {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 0 0 2rem var(--secondary);
    }
}

.input {
    display: none;
}

.flex {
    display: flex;
    margin-top: 4rem;

    a,
    button {
        margin: 0 0.5rem;
    }
}

.btn {
    svg {
        font-size: 2rem;
    }

    span {
        display: flex;

        span {
            display: block;
            margin: 0.3rem 0 0 0.6rem;
        }
    }
}

.progress {
    margin: 4rem auto 0;
    width: 30rem;
}
