.root {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background: var(--secondary);

    img {
        height: 10rem;
        width: 10rem;
    }
}

.title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.input {
    display: none;
}

.flex {
    display: flex;
    margin-top: 2rem;

    button {
        margin: 0 1rem;
    }
}

.file {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    border-radius: 1rem;
}

.btn {
    svg {
        font-size: 2rem;
    }

    span {
        display: flex;

        span {
            display: block;
            margin: 0.3rem 0 0 0.6rem;
        }
    }
}
