.form {
    display: block;
    width: 100%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

:global(.MuiButton-root).btn {
    margin: 2rem 0.5rem 0;
}

.or {
    margin: 3rem 0 1rem;
    text-align: center;
}

.reset {
    display: block;
    margin: 3rem 0 1rem;
    text-align: center;
}
