.root {
    --sidebar-width: 20rem;

    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
        --sidebar-width: 35rem;
    }
}
