body {
    display: block;
    width: 100%;
    height: 100vh;
}

#toasts {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 0;
    height: 100%;
    width: 50%;
    pointer-events: none;
}
