@import '../../../../styles/helpers/mixin';
@import '../post-card/post-cart-md/post-cart-md.module';

.root {
    height: auto;
    padding: 0;
    border-radius: 0.6rem;
    border: 0.1rem solid var(--gray-3);
    box-shadow: var(--box-shadow-1);

    &:global(.appear-active) {
        transform: translateY(5rem);
        opacity: 0;
    }

    &:global(.enter-done) {
        transition: 0.3s ease-in-out;
        transform: translateY(0);
        opacity: 1;
    }

    --card-width: 40rem;
    --image-wrp-diameter: 10rem;

    @media screen and (max-width: 1580px) {
        --card-width: 23vw;
    }

    @media screen and (max-width: 1350px) {
        --card-width: 30vw;
    }

    @media screen and (max-width: 960px) {
        --card-width: 44vw;
    }

    @media screen and (max-width: 640px) {
        --card-width: 30rem;
    }

    &:hover {
        box-shadow: var(--box-shadow-2);
    }

    .img,
    .noImg {
        border-bottom: 0.1rem solid var(--gray-3);
        border-radius: 0.6rem 0.6rem 0 0;
    }

    .content {
        margin: 0;
        padding: 2rem;

        .link {
            margin: 0;

            span {
                display: block;
                width: max-content;
                margin: 1rem 0 0;
                padding: 0.5rem 2rem;
                border-radius: 0.5rem;
            }

            .draft {
                color: var(--primary);
                background: var(--secondary);
            }

            .archive {
                color: var(--error);
                background: var(--error-secondary);
            }

            .active {
                color: var(--success);
                background: var(--success-secondary);
            }
        }

        .description {
            font-size: 1.2rem;
            @include cutString(2);
        }
    }

    .footer {
        display: flex;
        border-top: 0.1rem solid var(--gray-3);
        border-radius: 0 0 0.6rem 0.6rem;
        overflow: hidden;

        .editBtn {
            width: calc(100% / 3);
            margin: 0;
            padding: 2rem 0;
            color: var(--primary);
            font-size: 1.2rem;

            &:nth-of-type(2) {
                border-left: 0.1rem solid var(--gray-3);
                border-right: 0.1rem solid var(--gray-3);
            }

            &:hover {
                background: var(--gray-1);
            }
        }
    }
}
