@import '../../../../styles/helpers/mixin';
@import '../post-card/post-cart-md/post-cart-md.module';

.root {
    padding: 0;
    border-radius: 0.6rem;
    border: 0.1rem solid var(--gray-3);
    box-shadow: var(--box-shadow-1);
    transition: 0.3s ease-in-out;

    &:hover {
        box-shadow: var(--box-shadow-2);
    }

    .img,
    .noImg {
        border-bottom: 0.1rem solid var(--gray-3);
        border-radius: 0.6rem 0.6rem 0 0;
    }

    .content {
        margin: 0;
        padding: 2rem;

        .link {
            margin: 0;

            span {
                margin: 1rem 0 0;
                display: block;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
            }

            .draft {
                color: var(--primary);
                background: var(--secondary);
            }

            .archive {
                color: var(--error);
                background: var(--error-secondary);
            }

            .active {
                color: var(--success);
                background: var(--success-secondary);
            }
        }
    }

    .footer {
        display: flex;
        border-top: 0.1rem solid var(--gray-3);
        border-radius: 0 0 0.6rem 0.6rem;
        overflow: hidden;

        .editBtn {
            width: calc(100% / 3);
            margin: 0;
            padding: 2rem 0;
            color: var(--primary);
            font-size: 1.2rem;

            &:nth-of-type(2) {
                border-left: 0.1rem solid var(--gray-3);
                border-right: 0.1rem solid var(--gray-3);
            }

            &:hover {
                background: var(--gray-1);
            }
        }
    }
}
