.root {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--100vh, 100vh);
    width: 100%;
    color: inherit;
    cursor: grab;
    background: var(--true-black);

    img {
        width: 4rem;
        height: 4rem;
    }
}
