.primary {
    margin: 0.5rem;
}

.checkbox {
    display: flex;
    margin: 1rem -0.5rem 0;

    button {
        width: 48%;
    }
}

.title {
    font-size: 1.4rem;
}

.warn {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    background: var(--warning-secondary);
    color: var(--warning);
}
