.flex {
    display: flex;
    justify-content: space-between;
}

.smallSize {
    padding-bottom: 0.6rem;
    border-bottom: 0.1rem solid var(--gray-5);
}

.tooltip {
    width: max-content;
    max-width: 20rem;
}

.info {
    display: flex;
    align-items: center;

    button {
        margin-right: 0.5rem;
    }

    .icon {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        font-size: 1.3rem;
        font-weight: 300;
        color: var(--gray-6);

        span {
            margin: 0 0.5rem;
            font-size: 1.4rem;
        }
    }
}
