.root {
    height: calc(var(--100vh, 100vh) - var(--header-height) - var(--banner-height));
    margin: 0;
    padding-top: 1rem;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        padding-top: 2rem;
    }
}

.container {
    height: 100%;
}
