@import '../../../../styles/helpers/mixin.scss';

.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6rem 0;
    border-top: 0.1rem solid var(--gray-5);

    &:nth-last-of-type(1) {
        border-bottom: 0.1rem solid var(--gray-5);
    }

    .content {
        margin-top: 2rem;
        width: 100%;
        --img-width: 12rem;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }

    .img {
        display: block;
        height: calc(var(--img-width) - 2rem);
        width: var(--img-width);
        object-fit: cover;
        border-radius: 1rem;
    }

    .noImg {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(var(--img-width) - 2rem);
        width: var(--img-width);
        padding: 2rem;
        border-radius: 1rem;
        background: var(--gray-1);

        --image-wrp-diameter: calc(var(--img-width) - 8rem);

        p {
            margin-top: 0.5rem;
            font-weight: 600;
            font-size: 1.2rem;
            color: var(--gray-5);
            line-height: 1.2;
            text-align: center;
        }
    }

    .link {
        width: calc(100% - var(--img-width) - 2rem);
        font-weight: 600;

        &:hover,
        &:focus {
            h3 {
                text-decoration: underline;
            }
        }

        h3 {
            margin-left: 0.5rem;
            font-size: 2rem;
            line-height: 1.2;
            color: var(--black);
            @include cutString;
        }

        p {
            margin: 1rem 0 2rem 0.5rem;
            text-align: left;
            font-size: 1.5rem;
            color: var(--gray-6);
        }
    }
}
