.img {
    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--image-wrp-diameter, 20rem);
        width: var(--image-wrp-diameter, 20rem);
        border-radius: 50%;
        background: var(--secondary);
    }

    img {
        height: 50%;
        width: 50%;
        object-fit: contain;
    }
}
