.img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    border-radius: 50%;
    background: var(--primary);
    color: var(--true-white);
    font-size: 0.8em;
    border: 0.2rem solid var(--true-white);
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus {
        border: 0.2rem solid var(--primary);
    }
}
