.root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    p {
        max-width: 40rem;
        margin: 2rem auto 0;
        color: var(--gray-6);
        text-align: center;
    }
}
