:global(.black) {
    .subheader {
        background: var(--gray-2);
    }

    .inner {
        background: var(--gray-1);
    }
}

.header {
    position: relative;
    z-index: 1;
    height: var(--header-height);
    color: var(--black);

    .text {
        font-size: 1.2rem;
        text-align: center;
        width: 100%;
    }

    .logo {
        display: block;

        img {
            width: 7rem;
        }
    }

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.5rem;

            .menu {
                padding: 0 1.8rem;
                font-size: 2rem;
            }

            .home {
                display: none;

                @media screen and (min-width: 540px) {
                    display: flex;
                    margin-right: 0.5rem;
                    font-size: 2rem;
                    color: var(--black);

                    &:hover {
                        color: var(--primary);
                    }
                }
            }

            .theme {
                display: none;

                @media screen and (min-width: 768px) {
                    display: block;
                }
            }
        }
    }
}
