.warn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--warning);
    border-radius: 0.6rem;
    background: var(--warning-secondary);

    .spinner {
        height: 2rem;
        width: 2rem;
    }

    svg {
        font-size: 2rem;
    }

    small {
        margin-right: 0.6rem;
    }

    small,
    button {
        font-size: inherit;
    }

    .inner {
        width: calc(100% - 3rem);
    }

    .link {
        display: inline;
        color: var(--warning);
        font-weight: 700;
        text-decoration: underline;
    }
}
