@import '../../../../../styles/helpers/mixin';

.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    border-top: 0.1rem solid var(--gray-5);

    &:global(.appear-active) {
        transform: translateY(5rem);
        opacity: 0;
    }

    &:global(.enter-done) {
        transition: 0.3s ease-in-out;
        transform: unset;
        opacity: 1;
    }

    &:nth-last-of-type(1) {
        border-bottom: 0.1rem solid var(--gray-5);
    }

    :global(.tooltip) {
        min-width: 15rem;
    }

    .content {
        --img-width: 100%;
        width: 100%;
        margin-top: 1rem;

        @media screen and (min-width: 768px) {
            --img-width: 24rem;
            margin-top: 2rem;
        }
    }

    .flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .launch {
        font-size: 1.6rem;
    }

    .img {
        display: block;
        height: 37rem;
        width: 100%;
        object-fit: cover;
    }

    .link {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 1rem;
        font-weight: 400;

        :global(.tooltip) {
            width: 100%;
        }

        &:hover,
        &:focus {
            h3 {
                text-decoration: underline;
            }
        }

        h3 {
            margin: 1.5rem 0.5rem;
            font-size: 1.6rem;
            line-height: 1.5;
            color: var(--black);
        }

        p {
            width: 100%;
            margin: 1rem 0 0 0.5rem;
            text-align: left;
            font-size: 1.3rem;
            color: var(--gray-9);
        }

        .description {
            @include cutStringMultiLine(1.4rem, 1.4, 3);
        }

        .date {
            margin: 1rem 0.5rem;
            font-size: 1.2rem;
            color: var(--gray-6);
        }
    }
}
