@import '../../../../../styles/helpers/mixin';

.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    border-top: 0.1rem solid var(--gray-5);

    &:nth-last-of-type(1) {
        border-bottom: 0.1rem solid var(--gray-5);
    }

    .tooltip {
        min-width: 15rem;
    }

    .content {
        margin-top: 2rem;
        width: 100%;
        --img-width: 24rem;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }

    .img {
        display: block;
        height: calc(var(--img-width) - 12rem);
        width: var(--img-width);
        object-fit: cover;
        border-radius: 0.6rem;
    }

    .noImg {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(var(--img-width) - 12rem);
        width: var(--img-width);
        padding: 2rem;
        border-radius: 0.6rem;
        background: var(--primary);

        --image-wrp-diameter: calc(var(--img-width) - 18rem);

        p {
            margin-top: 0.5rem;
            font-weight: 400;
            font-size: 1.2rem;
            color: var(--true-white);
            line-height: 1.2;
            text-align: center;
        }
    }

    .link {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width: calc(100% - var(--img-width) - 2rem);
        font-weight: 400;

        .tooltip {
            width: 100%;
        }

        &:hover,
        &:focus {
            h3 {
                text-decoration: underline;
            }
        }

        h3 {
            width: 100%;
            margin-left: 0.5rem;
            font-size: 1.5rem;
            line-height: 1.2;
            color: var(--black);
            @include cutString;
        }

        p {
            width: 100%;
            margin: 1rem 0 0 0.5rem;
            text-align: left;
            font-size: 1.3rem;
            color: var(--gray-9);
        }

        .date {
            font-size: 1.2rem;
            color: var(--gray-6);
        }
    }
}
