@import '../../../../../styles/helpers/mixin';

.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    border-top: 0.1rem solid var(--gray-5);

    &:global(.appear-active) {
        transform: translateY(5rem);
        opacity: 0;
    }

    &:global(.enter-done) {
        transition: 0.3s ease-in-out;
        transform: translateY(0);
        opacity: 1;
    }

    &:nth-last-of-type(1) {
        border-bottom: 0.1rem solid var(--gray-5);
    }

    :global(.tooltip) {
        min-width: 15rem;
    }

    .content {
        --img-width: 100%;
        width: 100%;
        margin-top: 1rem;

        @media screen and (min-width: 768px) {
            --img-width: 24rem;
            margin-top: 2rem;
        }
    }

    .flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .launch {
        font-size: 1.6rem;
    }

    .img,
    .noImg {
        height: 25rem;
        width: 100%;

        @media screen and (min-width: 768px) {
            height: calc(var(--img-width) - 12rem);
            width: var(--img-width);
        }
    }

    .img {
        display: block;
        object-fit: cover;
        border-radius: 0.6rem;
    }

    .noImg {
        --image-wrp-diameter: 10rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
        border-radius: 0.6rem;
        background: var(--primary);

        @media screen and (min-width: 768px) {
            --image-wrp-diameter: 6rem;
        }

        p {
            margin-top: 1.5rem;
            font-weight: 400;
            font-size: 1.6rem;
            color: var(--true-white);
        }
    }

    .link {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        font-weight: 400;

        @media screen and (min-width: 768px) {
            width: calc(100% - var(--img-width) - 2rem);
        }

        :global(.tooltip) {
            width: 100%;
        }

        &:hover,
        &:focus {
            h3 {
                text-decoration: underline;
            }
        }

        h3 {
            width: 100%;
            margin-left: 0.5rem;
            margin-top: 1rem;
            font-size: 1.5rem;
            line-height: 1.2;
            color: var(--black);

            @media screen and (min-width: 768px) {
                margin-top: 0;
            }
        }

        p {
            width: 100%;
            margin: 1rem 0 0 0.5rem;
            text-align: left;
            font-size: 1.3rem;
            color: var(--gray-9);
        }

        h3 {
            @include cutString(2);
        }
        .description {
            @include cutString(3);
        }

        .date {
            margin-bottom: 1rem;
            font-size: 1.2rem;
            color: var(--gray-6);

            @media screen and (min-width: 768px) {
                margin: 0;
            }
        }
    }
}
