.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow: auto;
}

.list {
    display: flex;
    width: max-content;
    border: 0.1rem solid var(--primary);
    border-radius: 0.5rem;
    overflow: hidden;
}

.item {
    &:not(:nth-of-type(1)) {
        border-left: 0.1rem solid var(--primary);
    }

    button {
        height: 3.5rem;
        padding: 0 1rem;
        white-space: nowrap;
        color: var(--gray-8);
        font-size: 1.2rem;

        &:hover {
            background: var(--secondary);
        }
    }
}

.active button {
    background: var(--primary);
    color: var(--true-white);
    pointer-events: none;

    &:hover {
        background: var(--primary);
    }
}
