.date {
    width: 100%;
    margin: 4rem 0 0;
    padding: 0.5rem 0;
    border-bottom: 0.1em solid var(--gray-4);
    color: var(--gray-6);
    font-size: 1.2rem;
}

.flex {
    display: flex;
    align-items: flex-start;
    margin: 3rem 0 -1.5rem;

    &:hover {
        .user {
            color: var(--primary);
        }
    }
}

.textWrp {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 3.3rem;
    padding: 0.8rem 1.2rem;

    &:not(.noHover):hover {
        background: var(--gray-2);
    }

    .text {
        width: calc(100% - 10rem);
        color: var(--gray-9);
        font-size: 1.3rem;
        text-align: left;
        word-wrap: break-word;
    }

    .time {
        display: flex;
        align-items: center;
        margin-top: 0.2rem;
        color: var(--gray-6);
        font-size: 1.1rem;
        line-height: 1;

        .done {
            color: var(--success);
        }

        svg {
            margin-left: 0.4rem;
        }

        span:nth-last-of-type(1) {
            margin-left: 0.4rem;
            line-height: inherit;
        }
    }
}

.more {
    width: 100%;
    padding: 1rem 0;
    border-radius: 0.6rem;
    background: var(--secondary);

    &:hover {
        color: var(--primary);
    }
}
