.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        margin: 1rem 0;
    }
}

.row {
    --left-width: 15rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    margin-bottom: 1rem;

    @media screen and (min-width: 768px) {
        width: 48%;
        margin-bottom: 0;
    }
}

.small {
    margin: 0 0.5rem 0.5rem;
    color: var(--gray-9);
    font-weight: 500;
    font-size: 1.2rem;
}

.chip {
    display: flex;
    align-items: center;
    height: 2.2rem;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0 1rem;
    border-radius: 1rem;
    background: var(--gray-2);
    color: var(--primary);
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1;
}
