.root {
    min-height: calc(100vh - var(--header-height));
    background: var(--white);
    color: var(--black);
}

.img {
    margin: 0 auto;
    max-height: 65rem;
    max-width: 55rem;
}

.add {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
    font-size: 3.5rem;
    font-weight: 700;
}
