.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem;
    border-radius: 2rem;
    background: var(--secondary);
}

.avatar {
    font-size: 6rem;
    pointer-events: none;
}

.offline,
.online {
    width: max-content;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    background: var(--success-secondary);
    color: var(--success);
}

.offline {
    background: var(--gray-4);
    color: var(--gray-7);
}

.text,
.title {
    width: 100%;
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
}

.text {
    font-size: 1.6rem;
    color: var(--gray-8);
}

.role {
    display: flex;

    .roleItem {
        margin: 0.8rem 0.4rem;
        padding: 0.2rem 0.8rem;
        border-radius: 1rem;
        color: var(--primary);
        background: var(--white);
        font-weight: 600;
        font-size: 1.2rem;

        svg {
            margin-right: 0.5rem;
            font-size: 1.4rem;
        }
    }
}

.btn {
    margin-top: 2rem;
}
