.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    &.box {
        padding: 3rem 1.5rem;
        border-radius: 0.8rem;
        background: var(--secondary);

        @media screen and (min-width: 768px) {
            padding: 12rem 6rem;
            border-radius: 2rem;
        }
    }

    .cell,
    .ratingFlex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cell {
        align-items: flex-start;
        flex-direction: column;
    }

    .avatar {
        margin-right: 0;
        font-size: 6rem;
        pointer-events: none;

        @media screen and (min-width: 768px) {
            margin-right: 4rem;
        }
    }

    .offline,
    .online {
        width: max-content;
        padding: 0.3rem 1rem;
        border-radius: 0.6rem;
        font-size: 1.5rem;
        background: var(--true-white);
        color: var(--success);
    }

    .online {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -0.2rem;
            right: -0.2rem;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            background: var(--success);
            border: 0.2rem solid var(--true-white);
        }
    }

    .offline {
        background: var(--white);
        color: var(--gray-6);
    }

    .small,
    .text,
    .title {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 0.4rem;
        font-size: 3rem;
    }

    .small {
        max-width: 38rem;
        font-size: 1.2rem;
    }

    .text {
        font-size: 1.6rem;
        color: var(--gray-8);
    }

    .rating {
        margin-right: 1rem;
        font-size: 30px;
    }

    .role {
        display: flex;
        align-items: center;

        @media screen and (min-width: 768px) {
            margin-bottom: 3rem;
        }

        .roleItem {
            display: flex;
            align-items: center;
            margin-top: 0.2rem;
            margin-right: 1rem;
            padding: 1rem 1.5rem;
            border-radius: 0.6rem;
            color: var(--primary);
            background: var(--true-white);
            font-weight: 500;
            font-size: 1.2rem;
            border: 0.1rem dashed var(--primary);

            @media screen and (min-width: 768px) {
                padding: 2rem 3rem;
            }

            &:nth-last-of-type(1) {
                margin-right: 0;
            }

            svg {
                margin-bottom: 0.2rem;
                margin-right: 0.5rem;
                font-size: 2rem;
            }
        }
    }

    .btn,
    .ratingBtn {
        margin-top: 2rem;
    }

    .ratingBtn {
        background: var(--white);

        span {
            margin-top: 0.4rem;
        }

        svg {
            margin-bottom: 0.4rem;
            margin-right: 0.5rem;
            font-size: 1.6rem;
        }
    }

    .link {
        margin-top: 4rem;
        color: var(--primary);
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}
