.root {
    display: flex;
    flex-wrap: wrap;

    .cell {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 1.5rem 2.5rem 1.5rem 0;

        h5 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1.4rem;
        }
    }
}
