:global(.black) {
    .root {
        :global(.MuiCheckbox-root) {
            color: var(--gray-6);
        }

        :global(.MuiCheckbox-colorPrimary.Mui-checked) {
            color: var(--primary);
        }
    }
}

.root {
    display: flex;
    align-items: center;
    color: var(--black);
    margin-left: -1rem;

    .text {
        margin-bottom: 0.2rem;
        font-size: 1.4rem;
    }

    .checkbox {
        font-size: 2.5rem !important;
    }
}
