.chip {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: max-content;
    margin: 0 0.5rem 0.8rem 0;
    padding: 0 1rem;
    border-radius: 0.6rem;
    background: var(--gray-3);
    border: 0.1rem solid var(--gray-5);
    color: var(--gray-6);
    user-select: none;

    .tooltip {
        width: max-content;
        max-width: 20rem;
    }

    .inner {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            line-height: 1;
            font-weight: 500;
        }

        svg {
            font-size: 1.4rem;
            margin-right: 0.5rem;
        }
    }
}

:global(.black) {
    .active {
        border-color: var(--primary);
        color: var(--black);
    }
}

.active {
    background: var(--secondary);
    border-color: var(--secondary);
    color: var(--primary);
}
