.title {
    margin: 6rem 0 3rem;
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 700;
    text-align: center;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50rem;
    background: var(--gray-2);

    .imgTag {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;

    .inner {
        width: 30%;

        & > ul {
            margin-top: -0.5rem;
            margin-left: -1rem;
        }

        .date {
            height: 3.6rem;
        }
    }
}

.action {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .visibility {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        font-size: 1.8rem;
        font-weight: 300;
        color: var(--gray-6);

        span {
            margin-left: 1rem;
            font-size: 1.4rem;
        }
    }
}

.subtitle {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary);
}

.small {
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray-7);
}

.wrap {
    margin: 6rem 0;
}

.text {
    font-size: 2rem;
    font-weight: 300;
}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-top: 0.1rem solid var(--gray-5);
    font-size: 1.4rem;

    .left {
        width: 20rem;
    }

    tr {
        border-bottom: 0.1rem solid var(--gray-5);
    }

    td {
        padding: 1.6rem 1.6rem 1.6rem 0;

        .rowWithIcon {
            display: flex;
            align-items: center;
        }

        svg {
            margin-right: 1rem;
            font-size: 1.6rem;
        }
    }
}
