:global(.black) {
    .root:global(.MuiPaper-root) {
        --white: var(--gray-1);
    }
}

.root:global(.MuiPaper-root) {
    background: var(--white);

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 5rem;
        border-top: 0.1rem solid var(--gray-3);
        border-bottom: 0.1rem solid var(--gray-3);

        .close {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            background: var(--primary);
            color: var(--true-white);
            transform: rotate(180deg);
            transition: 0.2s ease-in-out;

            &:hover {
                box-shadow: 0 0 0.2rem 1rem var(--secondary);
            }
        }
    }

    .notifications {
        padding-bottom: 5rem;
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @media screen and (min-width: 540px) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        .ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;
            width: 100%;

            .btn {
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 10rem;
                width: 100%;
                padding: 1rem;
                color: var(--black);
                background: var(--gray-2);
                border-radius: var(--radius);
                transition: 0.3s ease-in-out;

                &:hover {
                    background: var(--secondary);

                    svg {
                        color: var(--primary);
                    }
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    height: 5rem;
                    padding-bottom: 1rem;

                    svg {
                        font-size: 2.5rem;
                    }
                }

                span {
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: 1rem;
                    line-height: 1.2;
                }
            }
        }

        .menu {
            margin-left: auto;
            margin-bottom: 2rem;
            padding: 0 1.8rem;
            font-size: 2rem;
        }

        form p,
        form label,
        form input {
            color: var(--black);
        }
    }
}
