:global(.black) {
    .root {
        background: var(--gray-1);

        .title {
            background: var(--gray-1);
        }
    }
}

.root {
    background: var(--white);

    .inner {
        width: 40rem;
        padding: 2rem;

        .menu {
            margin-left: auto;
            margin-bottom: 2rem;
            padding: 0 1.8rem;
            font-size: 2rem;
        }

        form p,
        form label,
        form input {
            color: var(--black);
        }
    }

    .list {
        margin-bottom: 4rem;

        * {
            font-size: 16px;
            color: var(--black);
        }

        svg {
            margin-bottom: 4px;
            font-size: 25px;
        }

        .btn:hover {
            background: var(--gray-3);
        }

        .sub {
            padding: 1.2rem 0 1.2rem 7.2rem;
            background: var(--gray-1);

            &:hover {
                background: var(--gray-2);
            }
        }
    }

    .title {
        font-size: 16px;
        color: var(--black);
        background: var(--white);
    }
}
