:global(.black) {
    .root:global(.MuiPaper-root) {
        --white: var(--gray-1);
    }
}

.root:global(.MuiPaper-root) {
    background: var(--white);

    .inner {
        width: 100%;
        padding: 1rem;

        @media screen and (min-width: 540px) {
            width: 40rem;
            padding: 2rem;
        }

        .menu {
            margin-left: auto;
            margin-bottom: 2rem;
            padding: 0 1.8rem;
            font-size: 2rem;
        }

        form p,
        form label,
        form input {
            color: var(--black);
        }
    }

    .list {
        margin-bottom: 1rem;

        @media screen and (min-width: 540px) {
            margin-bottom: 4rem;
        }

        * {
            font-size: 16px;
            color: var(--black);
        }

        svg {
            margin-bottom: 4px;
            font-size: 25px;
        }

        .collapse,
        .btn,
        li {
            padding-left: 0;
            padding-right: 0;
        }

        .btn:hover {
            background: var(--gray-3);
        }

        .sub {
            padding: 1.2rem 0 1.2rem 5.8rem;
            background: var(--gray-1);

            &:hover {
                background: var(--gray-2);
            }
        }
    }

    .title {
        font-size: 16px;
        color: var(--black);
        background: var(--white);
        padding-left: 0;
        padding-right: 0;
    }
}
