.inner {
    position: relative;
    height: max-content;
    width: 100%;
    color: var(--black);

    &.loading {
        padding-top: 3rem;
    }

    .emptyWrp {
        padding: 3rem 0 0;
        color: var(--black);

        h4 {
            width: 100%;
            padding: 2rem 2rem 1rem;
            text-align: center;
            font-weight: 600;
            font-size: 2.5rem;
        }

        p {
            width: 100%;
            padding: 0 2rem 2rem;
            text-align: center;
        }

        .empty {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }

    .header {
        position: static;
        top: 0;
        left: 0;
        z-index: 8;
        width: 100%;
        background: var(--white);

        @media screen and (min-width: 540px) {
            position: sticky;
        }
    }

    .link {
        padding: 0 0 1rem;
        color: var(--error);
        font-weight: 500;

        svg {
            margin-right: 0.5rem;
            margin-bottom: 0.2rem;
            font-size: 1.8rem;
        }

        @media screen and (min-width: 540px) {
            padding: 2rem 0 1rem;
        }
    }

    .loader,
    .item {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.6rem;

        @media screen and (min-width: 540px) {
            padding: 2rem;
        }
    }

    .loader {
        border: 0.1rem solid var(--gray-3);
        background: var(--gray-2);
    }

    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0.1rem solid var(--gray-2);
        background: var(--gray-2);

        img {
            min-width: 3rem;
            margin-right: 1.5rem;
        }

        .mid {
            width: calc(100% - 2rem);

            @media screen and (min-width: 540px) {
                width: calc(100% - 10rem);
            }
        }

        a {
            color: var(--primary);
            font-weight: 500;
            text-decoration: underline;

            @media screen and (min-width: 540px) {
                color: var(--gray-6);
                text-decoration: unset;
            }

            &:hover {
                text-decoration: underline;
                color: var(--primary);
            }

            &:global(.toast-link-body) {
                display: block;
                margin-top: 0.6rem;
                color: var(--black);
                font-weight: 400;
            }
        }

        .btn {
            padding: 0 0.4rem;
            font-size: 1.8rem;

            &:hover {
                color: var(--error);
            }
        }
    }

    .disabled {
        color: var(--gray-6);
        pointer-events: none;
    }

    .more {
        width: 100%;
        height: 4rem;
        background: var(--secondary);
        border-radius: 0.6rem;

        &:hover {
            color: var(--primary);
        }
    }
}
