.rating {
    margin: 1rem 0;
    font-size: 50px;
}

.error {
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    background: var(--error-secondary);
    color: var(--error);
}
