.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0.5rem 4rem;
    border-radius: 1.5rem;
    background: var(--gray-0);

    @media screen and (min-width: 768px) {
        padding: 0 4rem 6rem;
    }
}

.spinner {
    margin: 1rem auto 4rem;
    height: 4rem;
    width: 4rem;
}
