.li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
        width: 2rem;
        height: 2rem;
        margin-bottom: 1rem;
    }

    &:nth-of-type(1) .btn {
        border-top: none;
    }
}

.btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: var(--black);
    text-align: center;
    border-top: 0.1rem solid var(--gray-3);

    &:hover {
        background: var(--gray-1);
    }

    svg {
        font-size: 2rem;
    }

    span {
        display: block;
        margin-left: 1rem;
        margin-bottom: 0.2rem;
    }
}

.error {
    color: var(--error);
}

.disabled {
    color: var(--gray-5);
    background: var(--gray-2);
    pointer-events: none;
}
