.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 3.5rem;
    padding: 0 1.8rem;
    background: var(--white);
    border-radius: 0.6rem;
    line-height: 1;
    color: inherit;
    font-weight: 500;
    font-size: 1.2rem;
    transition: 0.1s ease-in-out;

    &.primary {
        background: var(--primary);
        color: var(--true-white);

        &:hover {
            background: var(--primary-hover);
        }
    }

    &.secondary {
        background: var(--gray-2);
        color: var(--primary);

        &:hover {
            background: var(--gray-3);
        }
    }
}

.link {
    position: relative;
    color: inherit;
    font-weight: inherit;
    transition: 0.3s ease-in-out;

    &:hover {
        text-decoration: underline;
    }

    &.primary {
        font-weight: 700;
        color: var(--primary);
    }

    &.secondary {
        color: var(--gray-10);
    }
}

.loading {
    cursor: unset;
    pointer-events: none;
    opacity: 0.9;

    .children {
        opacity: 0;
    }
}

.children {
    position: relative;
    z-index: 1;
    color: inherit;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2rem;
    width: 2rem;
    z-index: 2;
}
