.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    margin: 1rem;
    border-radius: 50%;

    svg {
        height: 2.8rem;
        width: 2.8rem;
    }
}

.facebook {
    background: #385c8e;
    fill: var(--black);
}

.google {
    background: var(--gray-3);
    fill: var(--black);
}
