.flex {
    display: flex;
    justify-content: space-between;
}

.tooltip {
    width: max-content;
    max-width: 20rem;
}

.info {
    display: flex;
    align-items: center;

    button {
        margin-right: 1rem;
    }

    .icon {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        font-size: 1.8rem;
        font-weight: 300;
        color: var(--gray-6);

        span {
            margin: 0 1rem;
            font-size: 1.4rem;
        }
    }
}
