$imgWidth: 20rem;

.root {
    display: flex;
    flex-direction: column;
    padding: 4rem 0 2rem;
    border-top: 0.1rem solid var(--gray-5);
    &:nth-last-of-type(1) {
        border-bottom: 0.1rem solid var(--gray-5);
    }

    .img {
        width: $imgWidth;
        height: $imgWidth;
    }

    .content {
        margin-top: 2rem;
        width: calc(100% - #{$imgWidth} - 2rem);
    }
}

.link {
    font-weight: 600;

    &:hover,
    &:focus {
        h3 {
            text-decoration: underline;
        }
    }

    h3 {
        font-size: 2rem;
        line-height: 1.2;
        color: var(--black);
    }

    p {
        margin-top: 2rem;
        text-align: left;
        font-size: 1.5rem;
        color: var(--gray-6);
    }
}
