.root {
    height: 100%;
    min-height: inherit;
    padding: 0;

    @media screen and (min-width: 768px) {
        padding: 8rem 0;
    }

    h2 {
        max-width: 70rem;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 0 0 3rem;
}

.inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    @media screen and (min-width: 768px) {
        margin: 2rem 0;
    }

    &.sm {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.cardSize {
    margin-bottom: 2rem;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.wrp {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: calc(100% - var(--filters-sidebar-width));
    }
}

.aside {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        width: var(--filters-sidebar-width);
        padding-top: 2rem;
        padding-left: 6rem;
    }
}
