.root {
    height: 100%;
    min-height: inherit;
    padding: 8rem 0;

    h2 {
        width: 70rem;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 0 0 3rem;
}

.inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;

    &.sm {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.wrp {
    width: calc(100% - var(--filters-sidebar-width));
}

.aside {
    width: var(--filters-sidebar-width);
    padding-top: 2rem;
    padding-left: 6rem;
}
