.center,
.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .btn {
        margin-top: 2rem;
    }
}
.inner .btn {
    margin-top: 2rem;
}

.center {
    .title {
        margin-bottom: 1rem;
        text-align: center;
    }

    .list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p.text {
            width: 100%;
            margin: 0;
            text-align: center;
        }

        .socials {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5rem;
            width: 25rem;
            margin: 1rem;
            padding: 1rem;
            border-radius: 0.6rem;

            span {
                display: block;
                margin-left: 1rem;
                margin-bottom: 0.1rem;
                font-size: 1.6rem;
            }

            svg {
                height: 2rem;
                width: 2rem;
            }
        }

        .facebook {
            background: #385c8e;
            fill: var(--black);

            color: var(--true-white);
        }

        .google {
            background: var(--gray-3);
            fill: var(--black);

            color: #eb4132;
        }
    }
}
