.root {
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background: var(--white);
        border-radius: 3rem;
        z-index: 1;
        box-shadow: var(--box-shadow-1);
        transition: 0.3s ease-in-out;
    }

    &:hover::before,
    &:focus::before {
        box-shadow: var(--box-shadow-2);
    }

    span {
        position: relative;
        display: block;
        z-index: 2;
        line-height: 1;
        color: var(--black);
    }
}

.right {
    &::before {
        transform: translateX(100%);
    }
}
