.flex {
    display: flex;
    flex-wrap: wrap;
}

.chip {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    color: var(--gray-6);
    border: 0.1rem solid var(--gray-5);
    border-radius: 2rem;
    font-weight: 500;
    user-select: none;

    &:hover {
        color: var(--primary);

        svg {
            color: var(--hover);
        }
    }

    svg {
        margin-right: 0.4rem;
        margin-top: 0.1rem;

        &:hover {
            color: var(--hover);
        }
    }
}

:global(.black) {
    .active {
        border-color: var(--primary);
        color: var(--black);
    }
}

.active {
    color: var(--primary);
    border-color: var(--primary);
    background: var(--secondary);

    svg {
        color: var(--hover);
    }
}

.text {
    display: block;
    color: inherit;
    line-height: 1;
}

.readOnly {
    pointer-events: none;

    .active {
        color: var(--gray-6);
        border-color: var(--gray-5);
        background: transparent;

        svg {
            color: var(--gray-6);
        }
    }
}
