.list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;

    .link {
        display: block;
        height: 25rem;
        padding: 4rem;
        background: var(--gray-2);
        color: var(--black);
        transform: translateY(5rem);
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

        @media screen and (min-width: 1024px) {
            font-size: 2rem;
        }

        @media screen and (min-width: 1300px) {
            font-size: 3rem;
        }

        &:global(.enter-done) {
            transform: unset;
            opacity: 1;
        }

        &:hover {
            color: var(--true-white);
            background: linear-gradient(45deg, #91eae4, #86a8e7, #7f7fd5);
        }
    }
}
