@import '../../../../styles/helpers/mixin';

.root {
    position: relative;
    width: 96%;
    max-width: 40rem;
    padding: 1.5rem 2rem 2rem;
    border-radius: 1rem;
    background: var(--white);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;

        .btn {
            padding: 0 1.1rem;
        }

        .title {
            width: calc(100% - 3rem);
            font-size: 2rem;
            font-weight: 400;
            @include cutString;
        }
    }
}
