@import '../../../../styles/helpers/mixin';

:global(.black) .root .header {
    border-top: 0.1rem solid var(--gray-4);
}

.root {
    position: relative;
    width: 96%;
    max-width: 40rem;
    height: max-content;
    margin: 4rem 0;
    border-radius: 1rem;
    background: var(--white);
    box-shadow: var(--box-shadow-3);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.4rem 2rem;
        background: var(--gray-3);
        border-radius: 1rem 1rem 0 0;
        border-top: 0.1rem solid var(--white);

        .btn {
            padding: 0 1.1rem;
        }

        .title {
            width: calc(100% - 3rem);
            font-size: 1.2rem;
            font-weight: 400;
            @include cutString;
        }
    }

    .inner {
        padding: 0.5rem 2rem 1rem;
    }
}
