.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 0.6em 1.4em;
    color: var(--primary);
    font-weight: inherit;
    font-size: inherit;
    border-radius: 0.6em;
    transition: 0.3s ease-in-out;

    svg {
        margin-top: 0.16em;
        margin-left: 0.2em;
    }

    &:hover,
    &:focus {
        background: var(--gray-3);
    }
}
