:global(.white) .backdrop {
    background: rgba(0, 0, 0, 0.5);
}

:global(.black) .backdrop {
    background: rgba(50, 50, 50, 0.8);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.root {
    position: fixed;
    top: calc(var(--header-height) + 2rem);
    right: 12rem;
    z-index: 101;
    width: 30rem;
    max-height: 50rem;
    padding: 2rem;
    background: var(--white);
    border-radius: 0.6rem;
    overflow-y: auto;

    @media (min-width: 1300px) {
        right: calc((100% - 104rem) / 2);
    }

    .inner {
        height: max-content;
    }
}
