.sm {
    width: 47%;
    padding: 3rem 0 8rem;

    .user {
        margin-top: 2rem;
    }

    .flex {
        margin-top: 2rem;
    }
}

.lg {
    width: 100%;
    padding: 6rem 0;
    border-top: 0.1rem solid var(--gray-5);

    .user {
        width: 28rem;
    }

    .flex {
        margin: 2rem 0;
    }

    .img {
        width: 12rem;
        height: 10rem;
    }

    .wrp {
        width: calc(100% - 14rem);

        .title {
            margin-top: 0;
        }
    }

    .cell {
        display: flex;
        width: 47%;
        margin: 2rem 0;
    }

    .chipLong,
    .chip {
        height: 3rem;
        width: 10rem;
        margin: 0 0.5rem 0.8rem 0;
    }

    .chipLong {
        width: 15rem;
    }
}

.title {
    height: 2rem;
    margin: 1.5rem 0;
}

.short {
    width: 70%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .actions {
        height: 2em;
        width: calc(100% - 12rem);
        max-width: 30rem;
    }

    .submit {
        height: 2em;
        width: 8rem;
    }
}
